input {
    display: block !important;
    line-height: 2 !important;
    border: 0 !important;
    border-radius: 0 !important;
    /* width: auto !important; */
    width: 9 !important;
}

td {
    margin: 0 !important;
    padding: 0 !important;
}

input:-moz-read-only {
    color: #ccc;
  }
  
  /* Supported in Blink/WebKit/Edge without a prefix */
  input:read-only {
    color: #ccc;
  }
  input.readable {
      color: black;
  }

  @media only print
{
    .btn-primary{ display:none; }
}